:root {
  --background-primary-color: #131313;
  --content-text-color: #f4f4f4;
  --title-font-family: 'Matemasie', monospace;
  --content-font-family: 'Itim', sans-serif;
  --gradient-color-first: #4674f3;
  --gradient-color-second: #9857dd;
  --gradient-color-third: #ff1361;
  --gradient-color-fourth: #fff800;
  --btn-gradient-first: #398dcd;
  --btn-gradient-second: #005fac;
  --btn-gradient-third: #559bd1;
  --btn-gradient-fourth: #206fb0;
}
